body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
}

.app_header-top {
    height: 22px;
    background-color: #2F2F2F;
    min-width: 980px;
}

.app_header-top2 {
    height: 3px;
    background-color: #AE965F;
    min-width: 980px;
}

.app_main {
    margin: 0 auto 0;
    width: 100%;
    border: 0px solid #000;
    min-width: 980px;
}

.app_header {
    height: 115px;
    padding-bottom: 30px;
    padding-top: 25px;
    background: #f6f6f6;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #dddddd;
    box-sizing: border-box;
}

.center {
    width: 980px;
    margin: 0 auto;
    padding: 0;
}

.clear {
    clear: both;
}

.app_uin_id img {
    float: left;
    background-position: -10px -10px;
    width: 296px;
    height: 65px;
    padding: 0px;
    position: relative;
}

.app_header_right {
    padding: 0;
    float: right;
    width: 680px;
    height: 75px;
    position: relative;
    font-weight: bold;
}

.app_header_right .app_system_id {
    text-align: right;
    font-family: cinzel;
    float: right;
    max-width: 100%;
    height: 25px;
    font-size: 25px;
    color: #A4884A;
    font-weight: bold;
}

.app_header_right .app_univ_id {
    text-align: right;
    /* font-family: optimale; */
    float: right;
    width: 100%;
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

.app_content {
    margin: 0 auto;
    padding-top: 5px;
    /* width: 980px; */
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    background-image: url(../assets/images/background.png);
    background-size: 100% 100%;
    position:fixed;
}

.form_login {
    width: 295px;
    height: 380px;
    margin-top: 85px;
    margin-bottom: 85px;
    background-color: #F6F6F6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo_login {
    width: 82px;
    height: 48px;
}

#text_login {
    text-align: center;
}

#text_login2 {
    text-align: center;
}

.email {
    display: flex;
    flex-direction: row;
}

#logo_email {
    
}

.copyright {
    width: 100%;
    text-align: center;
    color: #696969;
    background-color: #000;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    bottom:0;
}